body{
    align-items: center;
    background-image: url(../img/fundo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    user-select: none;
}

.container{
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 30px;
    position: relative;
}

h2{
    text-shadow: 2px 2px 2px #000;
    color: #ffd700;
    font-size: 3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.reset{
    background-color: #ffd700;
    border: none;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    text-transform: uppercase;
    width: 100%;
}

.reset:focus{
    background-color: #262809;
    /* color: #ec38bc; */
    color: #ffd700;
}

.game{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 430px;
    perspective: 500px;
    transform-style: preserve-3d;
    width: 430px;
}

.item{
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    height: 100px;
    justify-content: center;
    position: relative;
    transform: rotateY(180deg);
    transition: 0.25s;
    width: 100px;
}

.item::after{
    backface-visibility: hidden;
    background: #1c1c1c;
    border: 1px solid #ffd700;
    border-radius: 10px;
    content: "";
    inset: 0;
    position: absolute;
    transform: rotateY(0deg);
    transition: 0.25s;
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after, .boxMatch::after{
    transform: rotateY(180deg);
}

.item > img{
    border: 1px solid #ffd700;
    border-radius: 10px;
    height: 100px;
}

@media screen and (max-width:700px){
    .game{
        height: 310px;
        width: 310px;
    }

    .item, .item > img{
        height: 70px;
        width: 70px;
    }
}